.uploader-container {
  margin-top: 50px;
  margin-left: 10%;
  width: 80%;
}

.details-title {
  text-align: center;
}

.details-form {
  margin-left: 30%;
}

.input-mobile {
  width: 256px;
}

.input-desktop {
  width: 560px;
}

.details-form-mobile {
  margin-left: 0%;
}

.details-container p,
.contribution-tags {
  text-align: center;
}

.steps-action {
  margin-top: 50px;
  text-align: center;
}

.file-list-container-uploader {
  text-align: center;
  margin-top: 50px;
  width: 40%;
  margin-left:30%;
}
