.uploader-container {
  margin-top: 50px;
  margin-left: 10%;
  width: 80%;
}

.details-title {
  text-align: center;
}

.details-form {
  margin-left: 30%;
}

.details-container p,
.contribution-tags {
  text-align: center;
}

.steps-action {
  margin-top: 50px;
  text-align: center;
}

.file-list-container {
  text-align: center;
  margin-top: 50px;
  width: 40%;
  margin-left:30%;
}
