.career-tracker-title {
  margin-top: 50px;
  margin-left: 40%;
}

.career-plan-container {
  widht: 80%;
  margin-left: 10%;
  margin-top: 50px;
}

.career-plan-text p {
  font-size: 20px;
  margin-left: 26%;
}

.career-plan-selected {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.career-picker-button {
  margin-left:30%;
}
