.career-tracker-title {
  margin-top: 50px;
  text-align: center;
}

.career-plan-container {
  widht: 80%;
  margin-left: 10%;
  margin-top: 50px;
}

.career-plan-text p {
  font-size: 20px;
  margin-left: 26%;
}

.career-plan-selected {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.career-picker-button {
  margin-left:30%;
}

.ViewChooser.Desktop {
  margin-left: 77%;
  margin-bottom: 50px;
}

/* ------ */

.SeguidorHeading
{
  text-align: center;
  font-weight: 100;
  margin-bottom: 38px;
}

.ViewChooser.Desktop
{
  margin-left: 77%;
  margin-bottom: 50px;
}

.ViewChooser.Mobile
{
  margin-left: 40%;
  margin-bottom: 50px;
}

.carrer-name {
  text-align: center;
  margin-bottom: 50px;
}

@media (min-width: 900px)
{
    .YearsVisualizer
	{
      display: flex;
	  width: 1145px;
	  margin: 0 auto;
	}
}
