.register-grid-container {
  margin-top: 50px;
}


.register-form {
  margin-left: 34%;
}


@media screen and (min-width: 768px) {
  .register-button {
    width:564px;
  }
}

@media screen and (max-width: 768px) {
  .register-form {
    margin-left: 0%;
  }
}

.register-success-container {
  margin-top: 78px;
}

.register-success-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 0px;
}

.register-success-text {
  font-size: 30px;
  text-align: center;
}

.register-success-icon {
  margin-left: 47%;
}
