@media screen and (min-width: 768px) {
  .ArrowLeft
  {
	  position: absolute;
	  top: 251px;
	  right: 94%;
  }

  .ArrowRight
  {
	  position: absolute;
	  top: 251px;
	  margin-left: 95%;
  }
}

/* MOBILE */
@media screen and (max-width: 768px) {
  .ArrowLeft
  {
    position: absolute;
    top: 272px;
  }

  .ArrowRight
  {
    position: absolute;
    top: 272px;
    margin-left: 74%;
  }
}
